
@{
    ViewBag.Title = "Index";
}

<link href="~/Content/estilo.css" rel="stylesheet" />
<link href="~/Content/nav.css" rel="stylesheet" />
<link href="~/Content/CriptoIco.css" rel="stylesheet" />
<link rel="icon" type="image/png" href="~/imagenes/pinguino.png">


<div class="Inf" align="center">
    <marquee behaviour="alternate" scrolldelay="100">
        <h1>Bienvenido</h1>
    </marquee>
    <img src="~/imagenes/pinguino.png" width="350px">
    <h1 align="center">Seleccione su operación del lado izquierdo.</h1>
    
</div>


<script src="~/Scripts/elements.js"></script>

